:root {
    --colorDark: #121212;
    --colorDarkAlt: #2D2D2D;
    --colorDarkAlt2: #454545;
    --colorLight: #F8F8F8;
    --colorLightAlt: #E0E0E0;
    --colorLightAlt2: #C8C8C8;
    --colorAccentClick: #FFE6F0;
    --colorAccent: #FF2A8F;
    --colorAccentBlocked: #E00070;
    --colorAccentAltClick: #E6FAFF;
    --colorAccentAlt: #2AC6FF;
    --colorAccentAltBlocked: #00A0E0;

    --borderMain: 35px;
    --borderAlt: 25px;
    --borderMin: 7px;

    --fontMain: Roboto, sans-serif;
    --fontAccent: "WDXL Lubrifont SC", sans-serif;
}