/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

@font-face {
  font-family: "WDXL Lubrifont SC";
  src: url("../assets/fonts/WDXLLubrifontSC-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --colorDark: #121212;
  --colorDarkAlt: #2D2D2D;
  --colorDarkAlt2: #454545;
  --colorLight: #F8F8F8;
  --colorLightAlt: #E0E0E0;
  --colorLightAlt2: #C8C8C8;
  --colorAccentClick: #FFE6F0;
  --colorAccent: #FF2A8F;
  --colorAccentBlocked: #E00070;
  --colorAccentAltClick: #E6FAFF;
  --colorAccentAlt: #2AC6FF;
  --colorAccentAltBlocked: #00A0E0;
  --borderMain: 35px;
  --borderAlt: 25px;
  --borderMin: 7px;
  --fontMain: Roboto, sans-serif;
  --fontAccent: "WDXL Lubrifont SC", sans-serif;
}

body {
  position: relative;
  background-color: var(--colorDark);
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}

body input:not([type=submit]):not([type=button]):not([type=reset]),
body textarea,
body select {
  font: inherit;
  color: inherit;
}
body input:not([type=submit]):not([type=button]):not([type=reset])::placeholder,
body textarea::placeholder,
body select::placeholder {
  color: inherit;
  opacity: 0.7;
}
body input:not([type=submit]):not([type=button]):not([type=reset])::-moz-placeholder,
body textarea::-moz-placeholder,
body select::-moz-placeholder {
  color: inherit;
  opacity: 0.7;
}
body input:not([type=submit]):not([type=button]):not([type=reset])::-ms-input-placeholder,
body textarea::-ms-input-placeholder,
body select::-ms-input-placeholder {
  color: inherit;
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--colorAccentAlt);
  font-family: var(--fontAccent);
  font-weight: normal;
}

h1, .h1 {
  font-size: clamp(1.25rem, 0.7463842975rem + 2.0661157025vw, 2.8125rem);
}

h2, .h2 {
  font-size: clamp(1.125rem, 0.8832644628rem + 0.9917355372vw, 1.875rem);
}

label {
  font-size: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
  font-family: var(--fontAccent);
  font-weight: normal;
  color: var(--colorAccentAlt);
}

input, textarea {
  padding: 0.625rem;
  box-sizing: border-box;
  margin: 0.625rem 0;
  background-color: transparent;
  border: 0.125rem var(--colorAccentAlt) solid;
  border-radius: var(--borderMain);
  color: var(--colorLight);
}
input:focus, input:hover, input:active, textarea:focus, textarea:hover, textarea:active {
  border: 0.125rem var(--colorAccent) solid;
  background-color: transparent;
}
input:focus, textarea:focus {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 5px;
}

input::placeholder {
  color: var(--colorLightAlt2);
  font-size: clamp(0.625rem, 0.5242768595rem + 0.4132231405vw, 0.9375rem);
  font-family: var(--fontMain);
  font-weight: bold;
}

.register {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100dvh;
}
.register::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100dvh;
  background-color: var(--colorDark);
  opacity: 0.7;
  z-index: 90;
}
.register__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow-y: scroll;
  width: 750px;
  height: 90dvh;
  max-width: 90%;
  max-height: 950px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: var(--colorDark);
  border-radius: var(--borderMain);
  -webkit-box-shadow: 0px 10px 10px 5px var(--colorAccent);
  -moz-box-shadow: 0px 10px 10px 5px var(--colorAccent);
  box-shadow: 0px 10px 10px 5px var(--colorAccent);
}
.register__body::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 1024px) {
  .register__body {
    width: 80%;
    height: 90dvh;
  }
}
@media (max-width: 800px) {
  .register__body {
    min-width: 100%;
    top: 0;
    left: 0;
    transform: none;
    height: 100dvh;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0px 0px 0px 0px var(--colorAccent);
    box-shadow: 0px 0px 0px 0px var(--colorAccent);
  }
}
@media (max-width: 480px) {
  .register__body {
    padding: 25px 50px;
  }
}
.register__body-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
  width: 100%;
}
.register__body-item {
  width: 100%;
}
.register__body-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.register__label {
  display: block;
}
.register__input {
  width: 100%;
  height: 2.5rem;
}
.register__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: center;
  border: none;
}
.register__close:focus, .register__close:hover, .register__close:active {
  border: 0.125rem var(--colorAccent) solid;
  outline: none;
}
@media (hover: hover) {
  .register__close:hover {
    border: 2px solid var(--colorAccent);
  }
}
@media (max-width: 480px) {
  .register__close {
    width: 30px;
    height: 30px;
  }
}
.register__close-img {
  width: 100%;
  height: 100%;
}
.register__close-label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.checkbox {
  position: relative;
}
.checkbox__btn {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  position: relative;
}
.checkbox__btn:checked ~ .checkbox__label::before {
  background-image: url(../../assets/icons/checkbox.svg);
  background-position: center;
}
.checkbox__btn:focus-visible ~ .checkbox__label::before {
  outline: 0.0625rem var(--colorAccent) solid;
  outline-offset: 0.1875rem;
}
.checkbox__label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 2.1875rem;
  box-sizing: border-box;
  color: var(--colorLight);
}
.checkbox__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid var(--colorAccent);
  background-color: transparent;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  margin: 1.25rem 0;
  padding: 0.625rem;
  width: clamp(6.25rem, 5.242768595rem + 4.132231405vw, 9.375rem);
  max-width: 70%;
  min-width: fit-content;
  height: clamp(2.1875rem, 1.8853305785rem + 1.2396694215vw, 3.125rem);
  background-color: transparent;
  border: 2px solid var(--colorAccent);
  border-radius: var(--borderMain);
  color: var(--colorAccent);
  text-align: center;
}
@media (hover: hover) {
  .button:hover {
    outline: 0.125rem var(--colorAccent) solid;
    outline-offset: 0.3125rem;
  }
}
.button:focus-visible {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 0.3125rem;
}
.button:active {
  border: 2px solid var(--colorAccentClick);
  color: var(--colorAccentClick);
  outline: 0.125rem var(--colorAccentClick) solid;
  outline-offset: 5px;
}

.hero {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  border-bottom: 2px solid var(--colorDark);
  box-sizing: border-box;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}
.hero__header {
  background-color: transparent !important;
}
.hero__header header__nav {
  display: none;
}
.hero__more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 30;
  width: fit-content;
  height: fit-content;
  padding: clamp(0.625rem, 0.222107438rem + 1.652892562vw, 1.875rem) clamp(1.25rem, 0.242768595rem + 4.132231405vw, 4.375rem);
  background-color: var(--colorDark);
  border-top-left-radius: var(--borderMain);
}
.hero__more-btn {
  width: clamp(6.25rem, 4.2355371901rem + 8.2644628099vw, 12.5rem);
  max-width: none;
  height: clamp(2.0625rem, 1.3977272727rem + 2.7272727273vw, 4.125rem);
  font-size: clamp(0.875rem, 0.5526859504rem + 1.3223140496vw, 1.875rem);
}
.hero__more-window {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 1024px;
  max-width: 100%;
  min-height: 100%;
}
.hero__more-window::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100dvh;
  background-color: var(--colorDark);
  border-left: 3px var(--colorLightAlt) solid;
  opacity: 0.7;
  z-index: 1;
}
@media (max-width: 1024px) {
  .hero__more-window::after::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100dvh;
    background-color: var(--colorDark);
    opacity: 0.7;
    z-index: 1;
  }
}
.hero__more-window-close {
  position: absolute;
  z-index: 200;
  top: 35px;
  right: 35px;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}
.hero__more-window-close:focus, .hero__more-window-close:hover, .hero__more-window-close:active {
  border: 0.125rem var(--colorAccent) solid;
  outline: none;
}
.hero__slider {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 15fr 1fr;
  place-items: center;
  overflow-y: scroll;
  position: relative;
  z-index: 100;
  padding: 35px;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .hero__slider {
    display: block;
  }
}
.hero__slider-left-btn, .hero__slider-right-btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}
@media (max-width: 800px) {
  .hero__slider-left-btn, .hero__slider-right-btn {
    display: none;
  }
}
.hero__slider-left-btn .hero__slider-btn-img {
  rotate: 180deg;
}
.hero__slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  grid-column: 1/-1;
  width: 100%;
  height: fit-content;
  margin: auto;
}
@media (max-width: 800px) {
  .hero__slider-pagination {
    gap: 15spx;
  }
}
.hero__slider-pagination-item {
  width: 15px;
  height: 15px;
  background-color: var(--colorAccent);
  border-radius: 100px;
}
@media (max-width: 480px) {
  .hero__slider-pagination-item {
    width: 10px;
    height: 10px;
  }
}
.hero__slider-pagination-item.is-active {
  outline: 2px var(--colorAccent) solid;
  outline-offset: 3px;
}
.hero__slide {
  display: none;
  margin: auto;
}
.hero__slide:first-child {
  display: block;
}
.hero__slide-title {
  width: 30%;
  font-size: clamp(1.5625rem, 1.159607438rem + 1.652892562vw, 2.8125rem);
}
.hero__slide-text {
  overflow-y: scroll;
  height: 25dvh;
  margin: auto;
  font-size: clamp(0.9375rem, 0.6353305785rem + 1.2396694215vw, 1.875rem);
}
.hero__slide-text::-webkit-scrollbar {
  width: 0px;
}
.hero__slide-video {
  width: 100%;
  height: 25dvh;
  object-fit: cover;
  margin: 1dvh 0;
  border: 3px var(--colorAccentAlt) solid;
  box-sizing: border-box;
}
.hero__slide-link {
  font-size: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
  width: 150px;
  height: fit-content;
}
.hero__info {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  position: relative;
}
.hero__info-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;
  position: relative;
  z-index: 30;
  width: 40%;
  height: fit-content;
  text-align: left;
}
@media (max-width: 1024px) {
  .hero__info-inner {
    width: 100%;
  }
}
.hero__info-title {
  font-size: clamp(2.5rem, 1.7949380165rem + 2.8925619835vw, 4.6875rem);
  width: 100%;
}
.hero__info-text {
  font-size: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
}
.hero__info-link {
  width: 40%;
  font-size: clamp(1.25rem, 1.048553719rem + 0.826446281vw, 1.875rem);
}
.hero__film-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 57%;
  height: 95%;
  min-height: fit-content;
  border: solid 2px var(--colorAccent);
  border-right: none;
  border-top: none;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  z-index: 1;
  object-fit: cover;
  -webkit-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  -moz-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  box-shadow: 3px 3px 7px 3px var(--colorAccent);
}
@media (max-width: 1024px) {
  .hero__film-background {
    position: relative;
    width: 100%;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
@media (max-width: 1024px) and (max-width: 480px) {
  .hero__film-background {
    height: 150px;
  }
}
.hero.film {
  min-height: fit-content;
}
@media (max-width: 1024px) {
  .hero.film {
    height: fit-content;
  }
}
.hero.film .header .header__nav {
  background-color: transparent;
}

.header {
  position: relative;
  top: 0px;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 4.6875rem;
  background-color: var(--colorDarkAlt);
}
.header__menu form {
  display: inline;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  min-height: 100%;
  margin: auto;
}
.header__search-btn, .header__accaunt-btn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  border-radius: var(--borderMain);
  box-sizing: border-box;
}
@media (hover: hover) {
  .header__search-btn:hover, .header__accaunt-btn:hover {
    border: 2px var(--colorAccent) solid;
  }
}
.header__search-btn:focus-visible, .header__accaunt-btn:focus-visible {
  border: 2px var(--colorAccent) solid;
  outline: none;
}
.header__search-btn:active, .header__accaunt-btn:active {
  border: 2px solid var(--colorAccentClick);
  color: var(--colorAccentClick);
}
.header__search-img, .header__accaunt-img {
  width: clamp(1.25rem, 0.847107438rem + 1.652892562vw, 2.5rem);
  height: clamp(1.25rem, 0.847107438rem + 1.652892562vw, 2.5rem);
  border-radius: var(--borderMain);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.625rem, -0.180785124rem + 3.305785124vw, 3.125rem);
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .header__nav {
    gap: clamp(3.125rem, 0.7076446281rem + 9.9173553719vw, 10.625rem);
    position: absolute;
    left: 0;
    bottom: -0.9375rem;
    width: 100%;
    height: 1.5625rem;
    background-color: var(--colorDarkAlt);
  }
}
@media (max-width: 480px) {
  .header__nav {
    gap: clamp(0.625rem, -9.2458677686rem + 40.4958677686vw, 31.25rem);
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  background-color: var(--colorDarkAlt) !important;
  z-index: 50;
  transition: background-color 0.3s ease;
}

.sticky-header .header__nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 15%;
  height: fit-content;
}
.logo__img {
  width: clamp(1.5625rem, 0.958161157rem + 2.479338843vw, 3.4375rem);
  height: clamp(1.5625rem, 0.958161157rem + 2.479338843vw, 3.4375rem);
}
.logo__title {
  font-family: var(--fontAccent);
  font-weight: normal;
  font-size: clamp(0.9375rem, 0.7763429752rem + 0.6611570248vw, 1.4375rem);
}

.fresh-hits {
  height: calc(100dvh - 4.6875rem);
  min-height: fit-content;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/image/hits\ bg.jpg);
}
@media (max-width: 800px) {
  .fresh-hits {
    background-image: url(../../assets/image/hits\ mobile\ bg.jpg);
  }
}
.fresh-hits__inner {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  min-height: 100%;
}
@media (max-width: 1024px) {
  .fresh-hits__inner {
    width: 100%;
  }
}
.fresh-hits__list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 15px;
  height: clamp(12.5rem, 9.4783057851rem + 12.3966942149vw, 21.875rem);
  width: 95%;
  margin: auto;
  margin-bottom: 35px;
  overflow-x: scroll;
}
.fresh-hits__list::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 480px) {
  .fresh-hits__list {
    overflow-x: none;
    flex-wrap: wrap;
  }
}
.fresh-hits__item {
  width: clamp(6.25rem, 4.2355371901rem + 8.2644628099vw, 12.5rem);
  height: clamp(9.375rem, 6.3533057851rem + 12.3966942149vw, 18.75rem);
  border-radius: var(--borderAlt);
  -webkit-box-shadow: 3px 3px 7px 3px var(--colorAccentAlt);
  -moz-box-shadow: 3px 3px 7px 3px var(--colorAccentAlt);
  box-shadow: 3px 3px 7px 3px var(--colorAccentAlt);
}
.fresh-hits__item:hover {
  -webkit-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  -moz-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  box-shadow: 3px 3px 7px 3px var(--colorAccent);
}
.fresh-hits__content {
  width: 40%;
  margin: 3.125rem;
}
@media (max-width: 800px) {
  .fresh-hits__content {
    width: 80%;
    margin: 0.9375rem auto;
  }
}
@media (max-width: 480px) {
  .fresh-hits__content {
    width: 95%;
  }
}
.fresh-hits__title {
  font-size: clamp(1.5625rem, 0.8574380165rem + 2.8925619835vw, 3.75rem);
  margin-bottom: 0.9375rem;
}
.fresh-hits__text {
  font-size: clamp(1.0625rem, 0.9013429752rem + 0.6611570248vw, 1.5625rem);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(0.625rem, -0.180785124rem + 3.305785124vw, 3.125rem);
  height: 500px;
  min-height: fit-content;
}
@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    gap: 0;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  position: relative;
  width: clamp(1.5625rem, -2.9700413223rem + 18.5950413223vw, 15.625rem);
  height: clamp(2.0625rem, -3.9808884298rem + 24.7933884298vw, 20.8125rem);
  border: 3px var(--colorAccent) solid;
  border-radius: var(--borderMain);
}
.menu__item:hover {
  -webkit-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  -moz-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  box-shadow: 3px 3px 7px 3px var(--colorAccent);
}
@media (max-width: 800px) {
  .menu__item {
    width: 100%;
    height: 8.75rem;
    justify-content: start;
    align-items: center;
    border: none;
    border-radius: 0;
    border-bottom: 1px var(--colorAccent) solid;
  }
  .menu__item:hover {
    box-shadow: none;
  }
  .menu__item:last-child {
    border-bottom: none;
  }
}
.menu__item-img {
  width: 70%;
  object-fit: contain;
  margin: 0.9375rem auto;
}
@media (max-width: 800px) {
  .menu__item-img {
    width: 75px;
    margin: 35px;
  }
}
@media (max-width: 480px) {
  .menu__item-img {
    width: 50px;
    margin: 20px;
  }
}
.menu__item-title {
  position: absolute;
  bottom: 1.875rem;
  right: -1.875rem;
  padding: 5px 10px;
  background-color: var(--colorDark);
  color: var(--colorAccent);
}
@media (max-width: 1024px) {
  .menu__item-title {
    bottom: 0.9375rem;
    right: ro-rem(-20);
  }
}
@media (max-width: 800px) {
  .menu__item-title {
    position: static;
    display: block;
  }
}

.collections__item {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  margin: 2.1875rem auto;
}
@media (max-width: 800px) {
  .collections__item-title {
    margin-left: 0.9375rem;
  }
}
.collections__item-body {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: clamp(1.25rem, 0.847107438rem + 1.652892562vw, 2.5rem);
  height: clamp(12.5rem, 9.4783057851rem + 12.3966942149vw, 21.875rem);
  width: 90%;
  margin: 1.0625rem auto;
  overflow-x: scroll;
}
.collections__item-body::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 800px) {
  .collections__item-body {
    padding-inline: 0.9375rem;
    box-sizing: border-box;
  }
}
.collections__item-body.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  overflow-x: hidden;
  height: 100dvh;
  min-height: fit-content;
  padding: 15px;
  box-sizing: border-box;
}
.collections__item-btn {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-right: clamp(0.625rem, 0.1213842975rem + 2.0661157025vw, 2.1875rem);
  color: var(--colorAccent);
}
.collections__item-btn:focus, .collections__item-btn:hover, .collections__item-btn:active {
  border: 0.125rem var(--colorAccent) solid;
  outline: none;
}
.collections__item-link {
  position: relative;
  display: inline-block;
  border-radius: var(--borderAlt);
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}
.collections__item-link:hover {
  -webkit-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  -moz-box-shadow: 3px 3px 7px 3px var(--colorAccent);
  box-shadow: 3px 3px 7px 3px var(--colorAccent);
}
.collections__item-link.music .collections__item-link-img {
  width: clamp(18.75rem, 12.7066115702rem + 24.7933884298vw, 37.5rem);
}
.collections__item-link-img {
  position: relative;
  width: clamp(6.25rem, 4.2355371901rem + 8.2644628099vw, 12.5rem);
  height: clamp(9.375rem, 6.3533057851rem + 12.3966942149vw, 18.75rem);
  border-radius: var(--borderAlt);
  display: block;
  object-fit: cover;
  z-index: 1;
}

.footer {
  height: fit-content;
  margin-top: 4.375rem;
  background-color: var(--colorDarkAlt);
}
.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  padding-block: 2.1875rem;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .footer__inner {
    grid-template-rows: 1fr 4fr;
  }
}
.footer__main {
  margin-top: 0.625rem;
  font-size: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
  grid-column: 1/-1;
  align-items: center;
}
.footer__soc1als-title {
  text-align: center;
}
.footer__soc1als-tel {
  font-size: clamp(0.75rem, 0.548553719rem + 0.826446281vw, 1.375rem);
  text-align: center;
}
.footer__soc1als-tel-accent {
  font-size: clamp(0.9375rem, 0.736053719rem + 0.826446281vw, 1.5625rem);
  color: var(--colorAccentAlt);
}
.footer__soc1als-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  margin: auto;
}
.footer__soc1als-img {
  width: clamp(1.875rem, 0.867768595rem + 4.132231405vw, 5rem);
  height: clamp(1.875rem, 0.867768595rem + 4.132231405vw, 5rem);
}

.login {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100dvh;
}
.login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100dvh;
  background-color: var(--colorDark);
  opacity: 0.7;
  z-index: 90;
}
.login__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow-y: scroll;
  width: 750px;
  height: 90dvh;
  max-width: 90%;
  max-height: 550px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: var(--colorDark);
  border-radius: var(--borderMain);
  -webkit-box-shadow: 0px 10px 10px 5px var(--colorAccent);
  -moz-box-shadow: 0px 10px 10px 5px var(--colorAccent);
  box-shadow: 0px 10px 10px 5px var(--colorAccent);
}
.login__body::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 1024px) {
  .login__body {
    width: 80%;
    height: 90dvh;
  }
}
@media (max-width: 800px) {
  .login__body {
    min-width: 100%;
    top: 0;
    left: 0;
    transform: none;
    height: 100dvh;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0px 0px 0px 0px var(--colorAccent);
    box-shadow: 0px 0px 0px 0px var(--colorAccent);
  }
}
@media (max-width: 480px) {
  .login__body {
    padding: 25px 50px;
  }
}
.login__body-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
  width: 100%;
}
.login__body-item {
  width: 100%;
}
.login__body-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.login__label {
  display: block;
}
.login__input {
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem;
  box-sizing: border-box;
  margin: 0.625rem 0;
  background-color: transparent;
  border: 0.125rem var(--colorAccentAlt) solid;
  border-radius: var(--borderMain);
  color: var(--colorLight);
}
.login__input:focus, .login__input:hover, .login__input:active {
  border: 0.125rem var(--colorAccent) solid;
  background-color: transparent;
}
.login__input:focus {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 5px;
}
.login__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: center;
  border: none;
}
.login__close:focus, .login__close:hover, .login__close:active {
  border: 0.125rem var(--colorAccent) solid;
  outline: none;
}
@media (hover: hover) {
  .login__close:hover {
    border: 2px solid var(--colorAccent);
  }
}
@media (max-width: 480px) {
  .login__close {
    width: 30px;
    height: 30px;
  }
}
.login__close-img {
  width: 100%;
  height: 100%;
}
.login__close-label {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
.login__register-link {
  cursor: pointer;
  color: var(--colorAccent);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(0.9375rem, 0.534607438rem + 1.652892562vw, 2.1875rem);
  margin-top: 2.1875rem;
  padding: 1.875rem;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3125rem;
    width: fit-content;
    margin: auto;
    padding: 1.25rem 0.4375rem;
  }
}
@media (max-width: 800px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
.filter__select {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--colorLight);
  appearance: none;
  max-height: fit-content;
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
.filter__select::-webkit-scrollbar {
  width: 0px;
}
.filter__select:focus {
  outline: none;
}
.filter__select-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  max-width: 100%;
  max-height: 1.5625rem;
  padding: 0.625rem;
  padding-right: 3.125rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
@media (max-width: 1440px) {
  .filter__select-label {
    width: clamp(7.8125rem, 0.2582644628rem + 30.9917355372vw, 31.25rem);
  }
}
@media (max-width: 800px) {
  .filter__select-label {
    width: 50%;
    min-width: 280px;
    padding: 15px;
  }
}
.filter__select-label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/icons/next.svg);
  transform: translateY(-50%) rotate(90deg);
  z-index: 30;
  pointer-events: none;
  transition: all 1s ease;
}
@media (hover: hover) {
  .filter__select-label:hover {
    outline: 0.125rem var(--colorAccent) solid;
    outline-offset: 0.3125rem;
  }
}
.filter__select-label:focus-visible {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 0.3125rem;
}
.filter__select-label:focus-within::after {
  transform: translateY(-50%) rotate(270deg);
}
.filter__option {
  width: fit-content;
  padding: 0.625rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  border: none;
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
.filter__button {
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  border: none;
  grid-column: 1/-1;
}
.filter__button:active {
  border: none;
  color: var(--colorAccentClick);
  outline: 0.125rem var(--colorAccentClick) solid;
  outline-offset: 5px;
}

.film-stats {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 45px;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .film-stats {
    flex-wrap: wrap-reverse;
  }
}
.film-stats__item form button {
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
.film-stats__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  max-height: 1.5625rem;
  padding: 0.625rem;
  padding-right: 3.125rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
@media (max-width: 480px) {
  .film-stats__item:last-child {
    max-width: 300px;
    padding-right: 20px;
  }
}
.film-stats__item::after {
  content: "";
  position: absolute;
  right: 10px;
  min-width: 25px;
  min-height: 25px;
  background-image: url(../../assets/icons/Eye.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.film-stats__item:nth-child(2)::after {
  content: "";
  position: absolute;
  right: 10px;
  min-width: 25px;
  min-height: 25px;
  background-image: url(../../assets/icons/Star.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.film-stats__item:nth-child(3)::after, .film-stats__item:nth-child(4)::after, .film-stats__item:nth-child(5)::after {
  content: "";
  display: none;
}
.film-stats__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.film-stats__radio:checked {
  background-image: url(../../assets/icons/Star.svg);
  background-size: 20px;
}
.film-stats__radio:nth-child(1) {
  width: 20px;
  z-index: 60;
}
.film-stats__radio:nth-child(2) {
  width: 40px;
  z-index: 59;
}
.film-stats__radio:nth-child(3) {
  width: 60px;
  z-index: 58;
}
.film-stats__radio:nth-child(4) {
  width: 80px;
  z-index: 57;
}
.film-stats__radio:nth-child(5) {
  width: 100px;
  z-index: 56;
}
.film-stats__radio:nth-child(6) {
  width: 120px;
  z-index: 55;
}
.film-stats__radio:nth-child(7) {
  width: 140px;
  z-index: 54;
}
.film-stats__radio:nth-child(8) {
  width: 160px;
  z-index: 53;
}
.film-stats__radio:nth-child(9) {
  width: 180px;
  z-index: 52;
}
.film-stats__radio:nth-child(10) {
  width: 200px;
  z-index: 51;
}
.film-stats__radio-list {
  position: relative;
  min-width: 200px;
  height: 20px;
  margin-left: 25px;
  z-index: 50;
  background-image: url(../../assets/icons/Star\ alt.svg);
  background-size: 20px;
}

.coments {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}
.coments__body {
  overflow: scroll;
  height: 70dvh;
  margin: 1.875rem 0;
}
.coments__body::-webkit-scrollbar {
  width: 0px;
}
.coments__input {
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem;
  box-sizing: border-box;
  margin: 0.625rem 0;
  background-color: transparent;
  border: 0.125rem var(--colorAccentAlt) solid;
  border-radius: var(--borderMain);
  color: var(--colorLight);
}
.coments__input:focus, .coments__input:hover, .coments__input:active {
  border: 0.125rem var(--colorAccent) solid;
  background-color: transparent;
}
.coments__input:focus {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 5px;
}
.coments__item {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-row: 1fr 8fr;
  padding: 1.25rem;
  margin-bottom: 0.9375rem;
  box-sizing: border-box;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMain);
}
.coments__item-content {
  grid-column: 1/-1;
}
.coments__item-img {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
  border-radius: 100%;
}

.video-player {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  width: 100%;
  height: 100dvh;
  min-height: 500px;
}
.video-player:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-player:fullscreen .video-player__video {
  width: 100% !important;
  height: 85% !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.video-player:fullscreen .video-player__inner {
  width: 100% !important;
  height: 85% !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.video-player__inner {
  position: relative;
  width: 70%;
  min-width: 320px;
  min-height: 180px;
}
.video-player__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: var(--colorAccent) 5px solid;
  border-radius: var(--borderMain);
  -webkit-box-shadow: 5px 5px 10px 5px var(--colorAccent);
  -moz-box-shadow: 5px 5px 10px 5px var(--colorAccent);
  box-shadow: 5px 5px 10px 5px var(--colorAccent);
}
.video-player__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
  height: 40px;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.video-player__controls-item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.video-player__controls-item:nth-child(1) {
  width: fit-content;
}
.video-player__controls-item:nth-child(2) {
  width: 45%;
}
.video-player__controls-item:nth-child(3) {
  width: fit-content;
}
.video-player__controls-item:nth-child(4) {
  width: 25%;
}
.video-player__controls-input {
  width: 100%;
  margin: 0;
  height: 5px;
  border-radius: 2px;
  accent-color: var(--colorAccent);
}
.video-player__serias {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  width: 10%;
  max-height: 1.5625rem;
  padding: 0.625rem;
  padding-right: 3.125rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
.video-player__serias:nth-child(2) {
  left: 25%;
}
.video-player__serias::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/icons/next.svg);
  transform: translateY(-50%) rotate(90deg);
  z-index: 30;
  pointer-events: none;
  transition: all 1s ease;
}
@media (hover: hover) {
  .video-player__serias:hover {
    outline: 0.125rem var(--colorAccent) solid;
    outline-offset: 0.3125rem;
  }
}
.video-player__serias:focus-visible {
  outline: 0.125rem var(--colorAccent) solid;
  outline-offset: 0.3125rem;
}
.video-player__serias:focus-within::after {
  transform: translateY(-50%) rotate(270deg);
}
.video-player__serias-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--colorLight);
  appearance: none;
  max-height: fit-content;
  color: var(--colorLight);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
}
.video-player__serias-list::-webkit-scrollbar {
  width: 0px;
}
.video-player__serias-list:focus {
  outline: none;
}
.hero.clip .video-player {
  display: flex;
}

.accaunt__avatar {
  width: clamp(1.875rem, 0.867768595rem + 4.132231405vw, 5rem);
  height: clamp(1.875rem, 0.867768595rem + 4.132231405vw, 5rem);
  border-radius: 100%;
}
.accaunt__header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 4.6875rem;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: fit-content;
  margin-block: 1.875rem;
  padding-block: 1.5625rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
}
@media (max-width: 800px) {
  .accaunt__header {
    flex-direction: column;
    align-items: start;
    gap: 0.9375rem;
    padding: 0.9375rem;
    box-sizing: border-box;
  }
}
.accaunt__main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1.25rem, 0.041322314rem + 4.958677686vw, 5rem);
}
.accaunt__subscriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 4.6875rem;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: fit-content;
  padding-block: 1.5625rem;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
}
@media (max-width: 800px) {
  .accaunt__subscriptions {
    flex-direction: column;
    align-items: start;
    gap: 0.9375rem;
    padding: 0.9375rem;
    box-sizing: border-box;
  }
}

.subscriptions__inner {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  margin-block: 2.8125rem;
}
.subscriptions__title {
  font-size: clamp(1.5625rem, 1.2603305785rem + 1.2396694215vw, 2.5rem);
}
.subscriptions__item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: fit-content;
  margin-block: 1.875rem;
  padding: 1.5625rem;
  box-sizing: border-box;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
  font-size: clamp(1.5625rem, 1.361053719rem + 0.826446281vw, 2.1875rem);
}
@media (max-width: 800px) {
  .subscriptions__item {
    padding: 0.9375rem;
  }
}
@media (max-width: 480px) {
  .subscriptions__item {
    padding: 0.46875rem;
  }
}
.subscriptions__shop {
  padding: 1.5625rem;
  box-sizing: border-box;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
}
.subscriptions__shop-list {
  margin-top: 2.1875rem;
}
.subscriptions__shop-item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1.25rem;
  border-bottom: var(--colorAccent) 1px solid;
}
@media (max-width: 800px) {
  .subscriptions__shop-item {
    display: block;
  }
}
.subscriptions__shop-item:last-child {
  border-bottom: none;
}
.subscriptions__shop-item-title {
  font-size: clamp(1.5625rem, 1.361053719rem + 0.826446281vw, 2.1875rem);
}
.subscriptions__shop-item-content {
  height: 100%;
  width: 70%;
  padding-block: 0.9375rem;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .subscriptions__shop-item-content {
    width: 100%;
  }
}
.subscriptions__shop-price {
  margin-top: 1.5625rem;
  font-size: clamp(1.5625rem, 1.2603305785rem + 1.2396694215vw, 2.5rem);
}

.film-actors {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  margin-block: 2.8125rem;
}
.film-actors__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 45px;
  padding: 2.1875rem;
  box-sizing: border-box;
}
.film-actors__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5rem;
  min-width: fit-content;
  height: 7.5rem;
  min-height: fit-content;
  padding: 1.5625rem;
  box-sizing: border-box;
  background-color: var(--colorDarkAlt);
  border-radius: var(--borderMin);
}
.film-actors__img {
  width: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  height: clamp(1.875rem, 1.069214876rem + 3.305785124vw, 4.375rem);
  margin-block: 0.9375rem;
  border-radius: 100%;
  border: 2px solid var(--colorAccentAlt);
}

/*# sourceMappingURL=style.css.map */
