@use 'sass:math' as *;
@use '../functions' as *;
@use '../mixins' as *;

.accaunt {
    &__avatar{
        width: fluid(80, 30);
        height: fluid(80, 30);
        border-radius: 100%;
    }
    &__header {
        @include flex;
        justify-content: space-around;
        gap: to-rem(75);

        @include container;

        height: fit-content;
        margin-block: to-rem(30);

        padding-block: to-rem(25);

        background-color: var(--colorDarkAlt);
        border-radius: var(--borderMin);

        @include mobile{
            flex-direction: column;
            align-items: start;
            gap:to-rem(15);
            padding: to-rem(15);
            box-sizing: border-box;
        }
    }

    &__main-info {
        @include flex;
        gap: fluid(80,20);
    }

    &__subscriptions {
        @include flex;
        justify-content: space-around;
        gap: to-rem(75);

        @include container;

        height: fit-content;

        padding-block: to-rem(25);

        background-color: var(--colorDarkAlt);
        border-radius: var(--borderMin);

        @include mobile{
            flex-direction: column;
            align-items: start;
            gap:to-rem(15);
            padding: to-rem(15);
            box-sizing: border-box;
        }
    }
}