@use 'sass:math' as *;
@use '../functions' as *;
@use '../mixins' as *;

.film-stats {
    @include container;
    @include flex;
    justify-content: start;
    gap: 45px;
    flex-wrap: wrap;

    @include mobile {
        flex-wrap: wrap-reverse
    }

  &__item form button{
    color: var(--colorLight);
    font-size: fluid(20, 14);
  }

  &__item {
        @include flex;

        position: relative;
        width: fit-content;
        max-height: to-rem(25);

        padding: to-rem(10);
        padding-right: to-rem(50);

        background-color: var(--colorDarkAlt);
        border-radius: var(--borderMin);

        color: var(--colorLight);
        font-size: fluid(20, 14);

        @include mobile-s {
            &:last-child {
                max-width: 300px;
                padding-right: 20px;
            }

        }

        &::after {
            content: '';
            position: absolute;
            right: 10px;
            min-width: 25px;
            min-height: 25px;
            background-image: url(../../assets/icons/Eye.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:nth-child(2) {
            &::after {
                content: '';
                position: absolute;
                right: 10px;
                min-width: 25px;
                min-height: 25px;
                background-image: url(../../assets/icons/Star.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            &::after {
                content: '';
                display: none;

            }
        }

    }

    &__radio {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;

        margin: 0;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:checked {
            background-image: url(../../assets/icons/Star.svg);
            background-size: 20px;

        }

        &:nth-child(1) {
            width: 20px;
            z-index: 60;
        }

        &:nth-child(2) {
            width: 40px;
            z-index: 59;
        }

        &:nth-child(3) {
            width: 60px;
            z-index: 58;
        }

        &:nth-child(4) {
            width: 80px;
            z-index: 57;
        }

        &:nth-child(5) {
            width: 100px;
            z-index: 56;
        }

        &:nth-child(6) {
            width: 120px;
            z-index: 55;
        }

        &:nth-child(7) {
            width: 140px;
            z-index: 54;
        }

        &:nth-child(8) {
            width: 160px;
            z-index: 53;
        }

        &:nth-child(9) {
            width: 180px;
            z-index: 52;
        }

        &:nth-child(10) {
            width: 200px;
            z-index: 51;
        }

        &-list {
            position: relative;
            min-width: 200px;
            height: 20px;
            margin-left: 25px;
            z-index: 50;

            background-image: url(../../assets/icons/Star\ alt.svg);
            background-size: 20px;
        }
    }
}