@use 'sass:math' as *;
@use '../functions' as *;
@use '../mixins' as *;

.header {
    position: relative;
    top: 0px;
    left: 0;
    z-index: 50;

    width: 100%;
    height: to-rem(75);

    background-color: var(--colorDarkAlt);

    &__menu form{
        display: inline;
    }


    &__inner {
        @include flex;
        justify-content: space-between;

        @include container;
        min-height: 100%;

        margin: auto;
    }

    &__search-btn,
    &__accaunt-btn {
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        border: none;
        border-radius: var(--borderMain);
        box-sizing: border-box;

        @media (hover: hover) {
            &:hover {
                border: 2px var(--colorAccent) solid;
            }
        }

        &:focus-visible {
            border: 2px var(--colorAccent) solid;
            outline: none;
        }

        &:active {
            border: 2px solid var(--colorAccentClick);
            color: var(--colorAccentClick);
        }
    }

    &__search-img,
    &__accaunt-img {
        width: fluid(40, 20);
        height: fluid(40, 20);
        border-radius: var(--borderMain)
    }

    &__nav {
        @include flex;
        gap: fluid(50, 10);
        flex-wrap: wrap;

        @include mobile{
            gap: fluid(170, 50);

            position: absolute;
            left: 0;
            bottom: to-rem(-15);

            width: 100%;
            height: to-rem(25);
            background-color: var(--colorDarkAlt);
        }

        @include mobile-s{
            gap: fluid(500,10);
        }

        
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    background-color: var(--colorDarkAlt) !important;
    z-index: 50;
    transition: background-color 0.3s ease;
}

.sticky-header .header__nav{
    display: flex;
}