@use 'sass:math' as *;
@use '../functions' as *;
@use '../mixins' as *;

.logo {
    @include flex;
    justify-content: space-between;
    width: 15%;
    height: fit-content;
    

    &__img {
        width: fluid(55,25);
        height: fluid(55,25);
    }

    &__title {
        font-family: var(--fontAccent);
        font-weight: normal;
        font-size: fluid(23, 15);
    }
}